<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
<div class="container">
<form method="POST" action="/project_sign_up">
      <input type="submit" value="Project Sign up">
</form>
       
        <form method="POST" action="/user_sign_up">
      <input type="submit" value="User Sign up">
</form>
<h1> Projects so far </h1>
<%@projects.each do |project|%> 
<%="#{project.project_name}"%> <br>
<%="#{project.genre}"%> <br>
<%="#{project.goal}"%> <br>
<%="#{project.days}"%> <br>
<%="#{project.owner}"%> <br>
<%end%>
</div>
