<h1> Project Name: <%=@project.project_name%>  <br> 
 Project Genre: <%=@project.genre%> <br> 
 Rewards: <%=@project.rewards%> <br>
Goal: $<%=@project.goal%> <br>
Days: <%=@project.days%> <br>
Owner of Project: <%=@project.owner%> <br>
</h1>